<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Detail product</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
    <style>
        #ex2 {
            border: 5px solid chocolate;
            padding:  0em 1em;
            border-radius: 16px;
            font-size: 24px;
            line-height: 2;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img th:src="|@{upload/}img.png|" width="40" height="40" class="d-inline-block align-top" alt="">
        Update product
    </a>
</nav>
<br>
<div class="container" >
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6" id="ex2">
            <form  th:action="@{/addpro}" th:object="${pro}" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <label>Product name:</label><br>
                        <input type="text" th:field="*{productName}" class="form-control col-4 mb-4" placeholder="Enter name"/>
                        <label>Product detail:</label><br>
                        <input type="text" th:field="*{detail}" class="form-control col-4 mb-4" placeholder="Enter detail"/>
                        <label>Product price:</label><br>
                        <input type="text" th:field="*{price}" class="form-control col-4 mb-4" placeholder="Enter price"/>
                        <label>Branch</label><br>
                        <input type="text" th:field="*{branch}" class="form-control col-4 mb-4" placeholder="Enter price"/>
                        <label>Year of manufacture</label><br>
                        <input type="text" th:field="*{yearofmanufacture}" class="form-control col-4 mb-4" placeholder="Enter price"/>
                        <label>Link video youtube</label><br>
                        <input type="text" th:field="*{videosrc}" class="form-control col-4 mb-4" placeholder="Enter price"/>
                        <label th:text="*{category.getNameCategory()}"></label><br>
                        <label >Choose a category:</label>
                        <select name="category" >
                            <option th:each="cate : ${listCate}"
                                    th:value="${cate.getId()}"
                                    th:text="${cate.getNameCategory()}">
                            </option>
                        </select><br>
                    </div>
                    <div class="col">
                        <br>
                        <img width="50px" height="60px" th:src="|@{upload/}*{img1}|"><br>
                        <img width="50px" height="60px" th:src="|@{upload/}*{img2}|">
                    </div>
                </div>
                <a class="form-label">Chọn ảnh thay thế</a>
                <br>
                <input type="file" class="form-control" name="pic1"/><br>
                <input type="file" class="form-control" name="pic2"/><br>
                <button type="submit" class="btn btn-primary col-2">Save</button>
                <input type="hidden" th:field="*{id}"/>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>


</body>
</html>
